/* Mobile-specific styles */
@media screen and (max-width: 850px) {
    #mw-navigation {
        background-color: var(--header-background);
    }

    #mw-content {
        margin: 0;
        padding: 10px;
    }

    .shadowcosmos-kofi-support {
        flex-direction: column;
        text-align: center;

        .kofi-button {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}